PORT=3000
NODE_ENV=production

#Whatsapp
JWT_SECRET=nocr_super_secret_key_123

# Database Configurations
DATABASE_URL="postgresql://postgres:your_password@xxxxx:xxxx/nocr?schema=public"

# Default MikroTik connection (optional, can add more via UI)
MIKROTIK_HOST=192.168.88.1
MIKROTIK_USER=admin
MIKROTIK_PASS=
MIKROTIK_PORT=8728
# Demo mode: set to true to use simulated data without real MikroTik
DEMO_MODE=true
