# Server Configurations
PORT=9371
NODE_ENV=production

# Whatsapp_JWT
JWT_SECRET=nocr

# Database Configurations
# Format Docker internal network: postgresql://<user>:<pass>@postgres:5432/<db_name>?schema=public
DATABASE_URL="postgresql://postgres:%40xxxxxx@postgres:5432/nocr?schema=public"

# Database credentials untuk docker-compose
DB_PORT=5432
DB_NAME=nocr
DB_USER=postgres
DB_PASSWORD=xxxxxx

# OLT Connection
HSGQ_OLT_URL="xxxxxxx"
HSGQ_OLT_USERNAME=
HSGQ_OLT_KEY=
HSGQ_OLT_VALUE=

# MikroTik connection
MIKROTIK_HOST=192.168.88.1
MIKROTIK_USER=admin
MIKROTIK_PASS=
MIKROTIK_PORT=8728

# Demo mode (set to false to connect to real Mikrotik)
DEMO_MODE=false

# Ruijie Scraper API URL
# Jika dijalankan via Docker compose nocr-net, SCRAPER_API_URL gunakan http://ruijie_scraper:5000/api atau http://ruijie-scrape:5000/api
SCRAPER_API_URL=http://ruijie_scraper:5000/api
RUIJIE_SCRAPE_URL=http://ruijie_scraper:5000