# Server Configurations
PORT=8888
NODE_ENV=development
COOKIE_SECURE=false

# JWT Secret
JWT_SECRET=your_jwt_secret_here

# Database Configurations
DATABASE_URL="postgresql://postgres:password@127.0.0.1:5432/nocr?schema=public"
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=nocr
DB_USER=postgres
DB_PASSWORD=password

# OLT Connection
HSGQ_OLT_URL=""
HSGQ_OLT_USERNAME=
HSGQ_OLT_KEY=
HSGQ_OLT_VALUE=

# MikroTik Connection
MIKROTIK_HOST=192.168.88.1
MIKROTIK_USER=admin
MIKROTIK_PASS=
MIKROTIK_PORT=8728

# Demo mode (set to false to connect to real MikroTik)
DEMO_MODE=true

# Ruijie Scraper API URL
SCRAPER_API_URL=http://localhost:5000/api
RUIJIE_SCRAPE_URL=http://localhost:5000
